@import 'config';
@import 'utilities';


// Github link : https://github.com/hana-shak
// LinkedIn Link: https://www.linkedin.com/in/hanashakboua/
// Instagram Link:https://www.instagram.com/eczematee/

// General Styles
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background:#fff;
}

a{
    text-decoration: none;
    color:$dark-color;
}
ul{
    list-style: none;
}
h2, h3, h4{
    text-transform: uppercase;
}
img{
    width:100%;

}

// Logo
#logo{
    width:70px;
    height:70px;
    color:#fff;
    text-transform: uppercase;
    opacity: 0.65;
}
// Main nav
.main-nav{
    display:flex;
    justify-content: space-between;
    padding-top:1rem;

    ul{
       display:flex;
    }
    li{
        padding:1rem 1.5rem;
    }
    a{
        text-decoration: none;
        color:#fff;
        text-transform: uppercase;
        border-bottom:1px transparent solid;
        padding-bottom:0.5rem;
        transition: border-color 0.5s;

        &:hover{
            border-color:$medium-color;
        }
        &.current{
            border-color: $main-color;
        }
    }
}

// Header
#header{
    &-home{
       background: $bg-image no-repeat center right / cover;
       height:100vh;
       color:#fff;
       

       .header-content{
           text-align: center;
           padding-top:20%;

           h1{
               font-size: 4rem;
               line-height: 1.2;
           }
       }
    }
    
    &-inner{
       background: $bg-image no-repeat 20% 30% / cover;
       height:5.5rem;
       border-bottom:2px solid $main-color;
       color:#fff;
    }
}

// Home Section
#home{
    // home-a 
    &-a{
        .specials{
            display:grid;
            grid-gap:1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas{
                color:set-text-color($main-color);
                padding-bottom:0.8rem;
            }
        }
    }
    // home-b
    &-b{
        .stats{
            display:grid;
            grid-template-columns: repeat(4, 1fr);

            ul{
                padding:0.8rem;
            }
            li{
                margin:0.8rem;
            }
            &-title{
                font-size:1.5rem
            }
            &-number{
                font-size:1.5rem
            }

            div:nth-child(odd){
                background:$light-color;
            }
            div:nth-child(even){
                background:$medium-color;
            }

        }
        
    }

    // Process Section
    &-c{
        .process{
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap:1rem;
            text-align: center;
            
            &-step{
                position:absolute;
                top:0px;
                right:0px;
                width:30px;
                height:30px;
                background:$main-color;
                border-radius: 50%;
                font-size:12px;
                padding:0.5rem 0;
                color:set-text-color($main-color);
                transition:all 1s;
                text-align:center;
                font-weight: bolder;
            }

            // icon
            &-icon{
                position: relative;
                border-radius: 50%;
                background-color: $dark-color;
                color:set-text-color($dark-color);
                width:70px;
                height: 70px;
                text-align:center;
                padding:1rem;
                transition:all 1s;

                &:hover{
                    background:$main-color;
                    color:set-text-color($dark-color);

                    .process-step{
                        background:$dark-color;
                        color:set-text-color($dark-color)
                    }

                }
            }
        }
    }
}

// Footer
#main-footer{
    background:#333;
    color:#ffffff;
    height:5.7rem;

    .footer-content{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:5rem;

        .social a{
            
            margin-right:1rem;
            border:2px #fff solid;
            border-radius:50%;
            height:25px;
            width:30px;
            font-size:large;
            padding:.25rem;
            text-align:center;
            background-color:$light-color;
            &:hover{
                background:$main-color;
            }
        }
    }
}
// About Page 
#about{
    &-a{
        .about-info{
            display:grid;
            grid-template-columns: 1fr 2fr;
            grid-gap:1rem;

            .bio{
                padding:1rem;
                border-left:2px solid $main-color;    
            }
            p{
                margin-top: 3rem;
            }

        }
    }

    &-b{
        .progress{
            overflow: hidden;
            height:20px;
            background-color: $medium-color;
            border-radius:5px;
            margin-bottom:0.4rem;

            div{
                height:100%;
                background-color: $main-color;
                text-align: center;
            }
        }
    }

    &-c{
        .about-logos{
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap:0.5rem;

            img{
                width:200px;
                height:100px;
            }
        }
    }
}

// Work Page
#work{
    &-a{
        .items{
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap:1rem;
            grid-auto-rows: 250px;
            padding:0.5rem;
            
        }
        #iframeFeature{
            width:100%;
            height:100%
        }
    }

}

// Contact Page
#contact{
    &-a{
       .text-fields{
           display:grid;
           grid-template-areas: 
           'name email'
           'subject phone'
           'message message';
           grid-gap:1rem;
           margin-bottom:0.5rem;
          

        //    grid areas
        .name-input{
            grid-area: name;
        }
        .email-input{
            grid-area: email;
        }
        .subject-input{
            grid-area: subject;
        }
        .phone-input{
            grid-area: phone;
        }
        .message-input{
            grid-area: message;
            height: 100px;
        }
       }

       .text-input{
           padding:0.3rem 0.5rem;
       }

       button[type='submit']{
          width:50%;
       }
    }

    // Info
    &-b{
        .contact-info{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:2rem;
        }
    }
}

// Media Query
@import'media'

